.logo{
    height: 100px;
}
.header{
    height: 150px;
}
.nav{
    height: 100px;
}
.about{
    height: 400px;
}
.right{
    height: 190px;
}
.left{
    height: 195px;
}
.copy{
    height: 100px;
}